html {
    scroll-behavior: smooth;
}


body {
    background: lavender no-repeat;
    background-size: cover;
    color: rgb(10, 127, 138);
}


h1 {
    text-align: center;
}

a {
    color: rgb(10, 127, 138);
    font-weight: bold;
    text-decoration: none;
}

/* Menu */

#menu-text {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


#menu-button img {
    width: 5%;
}


#menu-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu-button button {
    width: 20%;
    height: 30px;
    background: rgb(10, 127, 138);
    border: 1px solid black;
    border-radius: 5%;
    transition: 0.5s;
}

#menu-button button:hover {
    transition: 0.5s;
    filter: brightness(0.9);
}

#welcome {
    font-size: x-large;
}

#competences {
    display: none;
    animation: opacity 1s;
}
#projets {
    display: none;
    animation: opacity 1s;
}
#contact {
    display: none;
    animation: opacity 1s;
}


/* Projets */

#projects {
    margin-top: 100px;
}

#projects .projects {
    text-align: center;
    margin-top: 50px;
}

/* Footer */

footer {
   text-align: center;
   margin-top: 300px;
}


/* Animations */

@keyframes opacity {
    from {opacity: 0;}
    to{opacity: 1;}
}


/* Media Queries */


@media screen and (max-width: 1000px) {

    body {
        background: lavender;
    }
    #menu-button button {
        width: 30%;
}

}