<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ShareCode</title>
	<!--LINK-->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="texte.css">
	<link rel="icon" type="image/png" href="../Images/logo.png" />
	<!--Embed Link-->
	<meta name="title" content="ShareCode" />
	<meta name="description" content="Trouvez du code pour votre site !" />
	<meta name="color" content="#0066cc"/>
	<meta name="keywords" content="code, css, code" />
	<meta name="robots" content="All" />
	<meta http-equiv="content-type" content="text/html" charset="iso-8859-1" />
	<meta name="language" content="fr" />
</head>
<body>


<div id="top"></div>
<nav id="haut">
  <ul>
    <li class="deroulant"><a href="#">Codes &ensp;</a>
      <ul class="sous">
        <li><a href="#secouement">Secouement</a></li>
        <li><a href="#rotation">Rotation</a></li>
        <li><a href="#multicolor">Multicouleur</a></li>
      </ul>
    </li>
    <li class="deroulant"><a href="#">Proposer un code &ensp;</a>
      <ul class="sous">
        <li><a href="mailto:erwinndev@gmail.com">Mail</a></li>
        <li><a href="#">Discord : &lt;/Erwinn&gt;#8969</a></li>
      </ul>
    </li>
    <li><a href="../menu/contact.html">Contact</a></li>
    <li><a href="../menu/news.html">Nouveautés</a></li>
	<li id="log" class="deroulant"><a href="../login/connexion.php" >Login</a>
	<ul class="sous">
		<li><a href="../login/inscription.php">Sign up</a></li>
		<li><a href="../login/connexion.php" >Sign in</a></li>
	</ul>
	</li>
  </ul>
</nav>




	<header>
		<h1 >ShareCode</h1>
	</header>

	
	


	
<p class="item-1">Trouve du code pour ton site</p>

<p class="item-2">Propose un code/script à publier sur le site</p>

<p class="item-3"> Touts les codes peuvent être copier sans les droits de l'auteur</p>

  
  


	<a href="#top" class="scrollUP"><img src="../Images/top.png" alt=""></a>


	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>

<div style="text-align: center;" class="fond">
  
  
  
</div>


   
</div>


	<h2>Animations :</h2>


	<section id="animation">
<div class="div-anim" id="secouement">
	<h1>Secouement</h1>
		
	<iframe height="500" style="width: 50%;" scrolling="no" title="secouement" src="https://codepen.io/erwinn-developpement/embed/RwjWvzZ?default-tab=html%2Cresult" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
		See the Pen <a href="https://codepen.io/erwinn-developpement/pen/RwjWvzZ">
		secouement</a> by Erwinn-Developpement (<a href="https://codepen.io/erwinn-developpement">@erwinn-developpement</a>)
		on <a href="https://codepen.io">CodePen</a>.
	  </iframe>

</div>





<div class="div-anim" id="rotation">
	<h1>Rotation</h1>

	<iframe height="500" style="width: 50%;" scrolling="no" title="Untitled" src="https://codepen.io/erwinn-developpement/embed/zYPvbNq?default-tab=html" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
		See the Pen <a href="https://codepen.io/erwinn-developpement/pen/zYPvbNq">
		Untitled</a> by Erwinn-Developpement (<a href="https://codepen.io/erwinn-developpement">@erwinn-developpement</a>)
		on <a href="https://codepen.io">CodePen</a>.
	  </iframe>
</div>

<div class="div-anim" id="multicolor">
	<h1>Multicouleur</h1>

	<iframe height="500" style="width: 50%;" scrolling="no" title="Untitled" src="https://codepen.io/erwinn-developpement/embed/eYepoNv?default-tab=html" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
		See the Pen <a href="https://codepen.io/erwinn-developpement/pen/eYepoNv">
		Untitled</a> by Erwinn-Developpement (<a href="https://codepen.io/erwinn-developpement">@erwinn-developpement</a>)
		on <a href="https://codepen.io">CodePen</a>.
	  </iframe>
</div>

	</section>




	<footer>
		<h1>ShareCode</h1>

		<form id="mail" name="eMailer" >
			<p face="Verdana" size="4" color="#ffffff">Partager le site</p>
			<input type="text" name="address" size="25" placeholder="Email de la personne">
			<input id="btn" type="button" value="Partager" onClick="mailThisUrl();">
		</form>
	</div>

		<p>&copy; Tous droits résérvés</p>
		<p><a href="https://erwinn-developpement.github.io/Erwinn" target="_blank">Erwinn-Développement</a></p>
		<br>
		<p style="font-size: 10px;"><a href="../admins/index.php" target="_blank">Espace Administrateurs</a></p>

	</footer>
	
</body>
</html>



<script language="JavaScript1.2">
	//Anti clique droit
function refresh()
	{document.location.reload();
    return false;}
	document.oncontextmenu = refresh;

</script>



<script language="JavaScript1.2">
	var good;
	function checkEmailAddress(field) {
	var goodEmail = field.value.match(/\b(^(\S+@).+((\.com)|(\.net)|(\.edu)|(\.mil)|(\.gov)|(\.org)|(\..{2,2}))$)\b/gi);
	if (goodEmail){ good = true
	} else { alert('Entrez une adresse mail valide')
	field.focus()
	field.select()
	good = false
	}}
	u = window.location;
	m = "ShareCode - Partage ton code !";
	function mailThisUrl(){
	good = false
	checkEmailAddress(document.eMailer.address)
	if (good){
	mess="mailto:"+document.eMailer.address.value+"?subject="+m+"&body="+document.title+" "+u;
	window.location = mess
	alert("Merci pour votre soutiens !")
	   }
	}






	
	
	</script>



